
// --------------------------------------------------------------- settings view

atom-workspace atom-workspace-axis.horizontal atom-workspace-axis.vertical atom-pane-container.panes .settings-view {

  background-color: @base-background-color;

  // ---------- config menu

  .config-menu {
    padding: 0;
    border: unset;
    background: unset;
  }

  .panels-menu.nav {
    margin: 8px;
    background-color: @app-background-color;
    border-radius: 3px;
  }

  .panels-menu.nav li {
    margin: 2px;
    border-radius: 3px;
    overflow: hidden;
  }

  .breadcrumb {
    margin: 8px;
    line-height: 2em;
    border: unset;
    border-radius: 3px;
  }

  .section {
    border: unset;
  }

  // ---------- settings content

  &> .panels {
    background-color: unset;
  }

  .sub-section-heading {
    background-color: @base-background-color;
  }

  .sub-section-body {
    border-left: 2px solid @app-background-color;
  }

  // ---------- keybindings

  .keybinding-panel {
    thead {
      background-color: @app-background-color;
    }
  }
}

// ------------------------------------------------------------ find and replace

atom-panel-container.bottom .tool-panel {
  background-color: unset;
}

atom-panel-container.bottom .find-and-replace,
atom-panel-container.bottom .project-find {
  margin: 6px;
  padding: 6px;
  background-color: @app-background-color;
  border-radius: 3px;
}

// ----------------------------------------------------------- top overlay modal

atom-panel.modal.overlay.from-top {
  background-color: @background-base;
  border: 1px solid @background-med;
  border-top: none;
  border-radius: 0 0 @component-border-radius @component-border-radius;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
