// Panels
// -------------------
// Overrides: atom/static/panels.less

atom-pane {
  border: none;
}

.panel-heading {
  border-bottom: 1px solid @panel-heading-border-color;
  background-color: @panel-heading-background-color;
}

.inset-panel {
  background-color: @inset-panel-background-color;
  .panel-heading {
    background-color: lighten(@inset-panel-background-color, 4%);
  }
}

atom-pane-resize-handle {
  border: none;
  transition: border-color 0.3s;

  &.vertical {
    border-top: 1px solid @dark-tone;
  }

  &.horizontal {
    border-left: 1px solid @dark-tone;
  }
}

// Modal -------------------
// Used on top of the editor, like the Command Palette.

atom-panel.modal {
  border: 1px solid @overlay-border-color;
  border-top: none;
  box-shadow: 0 2px 8px 1px hsla(0,0%,0%,.3);
}

// ------------------------------------------------------------------- Left pane

atom-dock.left atom-pane {
  opacity: 0;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

.atom-dock-inner.left {
  background-color: inherit;

  .atom-dock-mask,
  .inset-panel,
  .tree-view,
  .tool-panel {
    background-color: inherit;
  }

  .atom-dock-resize-handle {
    width: 4px;
  }

  .atom-dock-toggle-button-inner {
    color: @light-tone;
  }
}

// ----------------------------------------------------------------- Bottom pane

atom-panel-container.bottom {
  margin-left: 16px;
}
