atom-pane-container {
  atom-pane-axis.horizontal atom-pane {
    border: none;
  }
}

// --------------------------------------------------------------- settings view

atom-pane-container atom-pane .item-views .pane-item {
  background-color: @base-background-color;

  .config-menu {
    padding: @component-padding;
    background-color: unset;
    border: none;

    .button-area {
      margin: 10px 0 0 0;
    }
  }
}

.settings-view .sub-section .sub-section-heading {
  background-color: unset;
}
