// --------------------------------------------------------------------- generic

atom-workspace.workspace {
  background-color: @base-background-color;
}

.atom-dock-toggle-button {
  display: none;
}

// ------------------------------------------------------------------ left panel

atom-panel-container.left .atom-dock-inner.atom-dock-open {
  border-right: 1px solid @base-border-color;
}

.atom-dock-resize-handle.left {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 4px;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: @accent;
  }
}

// ------------------------------------------------------- center panel (editor)

atom-workspace atom-workspace-axis.horizontal atom-workspace-axis.vertical atom-pane-container.panes {
  atom-pane-axis.horizontal > atom-pane:not(:first-child),
  atom-pane-axis.horizontal > atom-pane-axis.pane-column:not(:first-child) {
    border-left: 1px solid @base-border-color;
  }

  // ---------- horizontal resize handle

  atom-pane-resize-handle.vertical::before {
    height: 4px;
    top: -2px;
    background-color: transparent;
    transition: background-color 0.3s;
  }

  atom-pane-resize-handle.vertical:hover::before {
    background-color: @accent;
  }

  // ---------- vertical resize handle

  atom-pane-resize-handle.horizontal::before {
    width: 4px;
    left: -2px;
    background-color: transparent;
    transition: background-color 0.3s;
  }

  atom-pane-resize-handle.horizontal:hover::before {
    background-color: @accent;
  }
}

// --------------------------------------------------------------- bottom panels

atom-panel-container.bottom {
  // todo
}

// ---------- bottom dock

atom-dock.bottom {
  // todo
}

.atom-dock-resize-handle.bottom {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  transition: background-color 0.3s;

  &:hover {
    background-color: @accent;
  }
}
