// --------------------------------------------------------------------- generic

.panel-heading {
  border-bottom: 1px solid @panel-heading-border-color;
}

.atom-dock-mask {
  background-color: transparent;
}

// toggle button

.atom-dock-toggle-button {
  display: none;
}

// resize handle

atom-pane-resize-handle {
  &::before {
    background-color: transparent;
    border: 2px solid transparent;
    box-sizing: content-box;
    transition: background-color 0.3s, border 0.3s;
  }

  &:hover::before {
    background-color: @base-background-color;
    border-color: @app-background-color;
  }
}

.atom-dock-resize-handle {
  background-color: transparent;
  border: 2px solid transparent;
  box-sizing: content-box;
  transition: background-color 0.3s, border 0.3s;

  &:hover {
    background-color: @base-background-color;
    border-color: @app-background-color;
  }
}

// modal

atom-panel.modal {
  border: 1px solid @overlay-border-color;
  border-top: none;
  box-shadow: 0 2px 8px 1px hsla(0,0%,0%,.3);
}

// ------------------------------------------------------------------ left panel

atom-workspace > atom-workspace-axis.horizontal {
    position: relative;
}

atom-workspace > atom-workspace-axis.horizontal > .left {
  background-color: transparent;

  .atom-dock-content-wrapper {
    background-color: @base-background-color;

    atom-pane-container {
      z-index: 1;

      atom-pane {
        opacity: 0;
        transition: opacity 0.5s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.atom-dock-resize-handle.left {
  position: absolute;
  z-index: 2;
  height: 100%;
  border-right: 4px solid @app-background-color;

  width: 4px;
  border-top: none;
  border-bottom: none;

  &:hover {
    border-right-width: 2px;
  }
}

// ---------------------------------------------------------------- center panel

atom-workspace-axis.vertical {
  background-color: @base-background-color;
  z-index: 1;

  atom-pane-resize-handle.horizontal {
    border-left: 4px solid @app-background-color;

    &::before {
      left: -6px;
      width: 4px;
      border-bottom: none;
      border-top: none;
    }
  }

  atom-pane-resize-handle.vertical {
    border-top: 4px solid @app-background-color;

    &::before {
      top: -6px;
      height: 4px;
      border-left: none;
      border-right: none;
    }
  }
}

// --------------------------------------------- center panel / find and replace

atom-workspace-axis.vertical .find-and-replace,
atom-workspace-axis.vertical .project-find {
  // background-color: @app-background-color;
  border-top: 1px solid @app-background-color;
  // box-shadow: 0 0 12px rgba(0, 0, 0, 0.5) inset;
}

// ---------------------------------------------------------------- bottom panel

atom-dock.bottom {
  position: relative;
}

.atom-dock-content-wrapper.bottom {
  border-top: 4px solid @app-background-color;
}

.atom-dock-resize-handle.bottom {
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 4px;
  border-left: none;
  border-right: none;
}

// ----------------------------------------------------------- top overlay modal

atom-panel.modal.overlay.from-top {
  top: 16px;
}

// ------------------------------------------------------------------ status bar

atom-panel.footer.tool-panel.panel-footer {
  z-index: 2;
  background-color: @app-background-color;

  .status-bar {
    background-color: transparent;
  }
}
