@tab-height: 26px;
@tab-icon-size: 6px;

// ------------------------------------------------------------------------ base

.tab-bar {
  position: relative;
  overflow: hidden;
  margin: 0;
  background-color: @tab-bar-border-color;
  border-radius: unset;
  transition: color 0.3s;
}

.tab-bar .tab {
  position: relative;
  height: @tab-height;
  padding: 0 16px;
  color: @tab-background-color;
  line-height: @tab-height;
  text-align: center;
  background-color: transparent;
  border-right: 1px solid @tab-background-color;
  transition: color 0.3s;
}

.tab-bar .tab .title.temp::before,
.tab-bar .tab .title.temp::after {
  transition: color 0.3s;
}

.tab-bar .tab .close-icon {
  display: none;
}

.tab-bar .tab.active .title {
  padding: 0;
}

// ------------------------------------------------------------------ active tab

.tab-bar .tab.active,
.tab-bar .tab.active .title.temp::before,
.tab-bar .tab.active .title.temp::after {
  color: @text-color;
}

// ---------------------------------------------------------------- modified tab

.tab-bar .tab.modified::after {
  content: "•";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 26px;
  line-height: 26px;
}

// --------------------------------------------------------------- temporary tab

.tab-bar .tab .title.temp {
  font-style: normal;

  &::before {
    content: "( ";
    color: @tab-background-color;
  }

  &::after {
    content: " )";
    color: @tab-background-color;
  }
}

// ------------------------------------------------------------- hovered tab bar

.tab-bar:hover {
  .tab:not(.active),
  .tab:not(.active) .title.temp::before,
  .tab:not(.active) .title.temp::after {
    color: @text-color-subtle;
  }

  .tab:not(.active):hover,
  .tab:not(.active):hover .title.temp::before,
  .tab:not(.active):hover .title.temp::after {
    color: @text-color;
  }
}
