// Displays selectable tabs above the editor.
// Overrides: atom/tabs

@tab-height: 40px;
@icon-size: 8px;

.tab-bar {
  margin: 0;
  padding: 0;
  background-color: @tab-bar-background-color;
  border-bottom: 1px solid @tab-bar-border-color;
  z-index: 1;

  .tab {
    position: relative;
    margin: 0;
    padding: 0 1rem;
    height: @tab-height;
    line-height: @tab-height;
    color: fadeout(@light-tone, 90%);
    font-size: 1rem;
    text-align: center;
    transition: color 0.3s, background-color 0.3s;

    &.active {
      color: fadeout(@light-tone, 60%);

      .title {
        padding: 0;
      }
    }

    // ------------------------------------------------------------ "close" icon

    .close-icon {
      display: none;
    }

    // ---------------------------------------------------------- "modified" tab

    &.modified::before {
      position: absolute;
      bottom: 2px;
      left: calc(50% - 3px);
      width: 6px;
      height: 6px;
      content: "";
      border-radius: 100%;
      background-color: @accent;
    }

    // -------------------------------------------------------- "dragging a tab"

    &.is-dragging {
      background-color: darken(@tab-background-color, 2%);
    }
  }
}

// ------------------------------------------------------------- hovered tab bar

.tab-bar:hover {
  .tab {
    position: relative;
    color: fadeout(@light-tone, 60%);

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: "";
      background-color: @accent;
    }

    &:hover {
      color: @light-tone;
      &::after {
        height: 1px;
      }
    }

    &.active {
      color: @light-tone;
      &::after {
        height: 3px;
      }
    }
  }
}
