@tree-view-text-color: fadeout(@light-tone, 30%);

.tree-view {
  padding: @component-padding;
  color: @tree-view-text-color;

  .list-tree {
    color: @tree-view-text-color;
  }

  .list-item:hover {
    color: @light-tone;
  }

  .list-nested-item.selected,
  .list-item.selected {
    color: @light-tone;

    &::before {
      background-color: @background-color-highlight;
      border-radius: 3px;
    }
  }
}
