// ------------------------------------------------------------------------ base

.tree-view {
  opacity: 0.1;
  z-index: unset;
  padding: 20px;
  transition: opacity 0.3s;

  .tree-view-root {
    padding: 0;
    min-width: unset;
  }

  .project-root > .list-tree > li {
    margin-left: 0;
    padding-left: 0 !important;
  }

  .list-tree > li.list-item,
  .header.list-item {
    position: unset;
    padding: 0 20px 0 8px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // ---------- root folder

  .project-root-header {
    overflow: hidden;
    margin-bottom: 8px;
    font-weight: bolder;
    text-overflow: ellipsis;
  }

  .project-root:not(:first-child) {
    margin-top: 1em;
    padding-top: 1em;
  }

  // ---------- folders

  .list-tree.has-collapsable-children .list-nested-item > .list-item::before {
    display: none;
    top: unset;
  }

  .directory.collapsed > .header > span::after {
    content: " /";
    position: relative;
  }

  .directory.expanded > .header > span::after {
    content: " …";
    position: relative;
  }

  // ---------- items icons

  .list-item.header .icon::before {
    display: none;
  }

  .list-tree.has-collapsable-children .list-nested-item > .list-tree > li.list-item.file,
  .list-tree.has-collapsable-children .list-nested-item > .list-group > li.list-item.file {
    padding-left: 0;

    .icon::before {
      display: none;
    }
  }

  // ---------- modified/created items (version control)

  .list-item.status-added,
  .list-nested-item.status-added,
  .list-item.status-modified,
  .list-nested-item.status-modified {
    color: @tree-view-text-color;
  }

  // ---------- selected items

  .list-item.selected,
  .list-nested-item.selected {
    background-color: unset;

    &::before {
      visibility: hidden;
    }
  }
}

// ----------------------------------------------------------- hovered tree view

.tree-view:hover {
  opacity: 1;

  // ---------- hovered items

  .list-item:hover::before,
  .list-tree.has-collapsable-children .list-nested-item:not(.selected) > .list-item:hover::before {
    content: "";
    display: block;
    visibility: visible;
    position: absolute;
    left: 0;
    height: 25px;
    width: 100%;
    background-color: @base-border-color;
    border-radius: 3px;
  }

  .list-item:not(.selected) > span {
    position: relative;
  }

  // ---------- selected items

  .list-item.selected,
  .list-nested-item.selected {
    color: @tree-view-text-color-selected;
  }

  .list-item.selected::before,
  .list-nested-item.selected::before {
    visibility: visible;
    background-color: @accent;
    border-radius: 3px;
  }

  // ---------- added items (version control)

  .list-nested-item.status-added:not(.selected) > .header,
  .list-item.file.status-added:not(.selected) {
    color: @text-color;
  }

  .list-nested-item.collapsed.status-added > .header::after,
  .list-item.file.status-added::after {
    content: "✻";
    position: absolute;
    right: 0;
    width: 16px;
    height: 25px;
    color: @text-color-subtle;
    line-height: 25px;
    text-align: center;
    background-color: @base-background-color;
    border-radius: 0 3px 3px 0;
  }

  .list-nested-item.collapsed.status-added:hover > .header::after,
  .list-item.file.status-added:hover::after {
    background-color: @base-border-color;
  }

  .list-nested-item.collapsed.selected.status-added > .header::after,
  .list-item.selected.file.status-added::after {
    color: @base-background-color;
    background-color: @accent;
  }

  // ---------- modified items (version control)

  .list-nested-item.status-modified:not(.selected) > .header,
  .list-item.file.status-modified:not(.selected) {
    color: @text-color;
  }

  .list-nested-item.collapsed.status-modified > .header::after,
  .list-item.file.status-modified::after {
    content: "•";
    position: absolute;
    right: 0;
    width: 16px;
    height: 25px;
    color: @text-color-subtle;
    line-height: 25px;
    text-align: center;
    background-color: @base-background-color;
    border-radius: 0 3px 3px 0;
  }

  .list-nested-item.collapsed.status-modified:hover > .header::after,
  .list-item.file.status-modified:hover::after {
    background-color: @base-border-color;
  }

  .list-nested-item.collapsed.selected.status-modified > .header::after,
  .list-item.selected.file.status-modified::after {
    color: @base-background-color;
    background-color: @accent;
  }
}
