.tree-view {
  padding: @component-padding;
  color: @tree-view-text-color;
  background-color: @tree-view-background-color;

  .header {
    font-weight: bolder;
  }

  .list-tree {
    padding: 0;
    color: @tree-view-text-color;
  }

  .list-item:hover {
    color: @tree-view-text-color-highlight;
  }

  .list-item,
  .list-nested-item {
    &:hover {
      color: @tree-view-text-color-highlight;
    }

    &.selected {
      color: @tree-view-text-color-selected;

      &::before {
        background-color: @base-background-color;
        border-radius: 3px;
      }
    }

    &.status-ignored {
      color: @tree-view-text-color-subtle;
    }
  }

  .list-item:not(.directory):not(.header),
  .list-nested-item:not(.directory):not(.header) {
    line-height: 1.5em;

    &.selected::before {
      height: 1.5em;
    }
  }

  // remove the icons

  .list-item .icon::before {
    display: none;
  }

  .list-tree.has-collapsable-children .list-nested-item > .list-tree > li.list-item.file,
  .list-tree.has-collapsable-children .list-nested-item > .list-group > li.list-item.file {
    padding-left: 0;
  }
}

// highlight the ignored files/folders

.tree-view .list-item.status-ignored:hover,
.tree-view .list-nested-item.status-ignored:hover {
  color: @tree-view-text-color-highlight;
}
