// ---------------------------------------------------------------------- colors

@dark-tone:  #3a3630;
@light-tone: #cac7ba;
@accent:     #deba2f;

@cyan:   #62c5c1;
@blue:   #75abd4;
@green:  #6faf7a;
@orange: #dc9b69;
@purple: #a47dd4;
@red:    #dc7069;

// ----------------------------------------------------------------- base colors

@base-background-color: @dark-tone;
@base-border-color:     darken(@dark-tone, 5%);

// --------------------------------------------------------- generic backgrounds

@background-color-info:    hsl(208, 100%, 50%);
@background-color-success: hsl(160,  70%, 36%);
@background-color-warning: hsl(32,   60%, 50%);
@background-color-error:   hsl(0,    70%, 50%);

@background-color-highlight: lighten(@base-background-color, 5%);
@background-color-selected:  lighten(@base-background-color, 10%);

// ----------------------------------------------------------------------- texts

@text-color:           @light-tone;
@text-color-subtle:    fadeout(@text-color, 60%);
@text-color-highlight: #ffffff;
@text-color-selected:  #ffffff;

@tree-view-text-color:           @text-color;
@tree-view-text-color-subtle:    @text-color-subtle;
@tree-view-text-color-highlight: @text-color;
@tree-view-text-color-selected:  @text-color;

@text-color-info:    @blue;
@text-color-success: @green;
@text-color-warning: @orange;
@text-color-error:   @red;

// ------------------------------------------------------------------ components

@pane-item-background-color: @base-background-color;
@pane-item-border-color:     @base-border-color;

@input-background-color: darken(@base-background-color, 5%);
@input-border-color:     @base-border-color;

@tool-panel-background-color: @base-background-color;
@tool-panel-border-color:     @base-border-color;

@inset-panel-background-color: @base-background-color;
@inset-panel-border-color:     @base-border-color;

@panel-heading-background-color: @base-background-color;
@panel-heading-border-color:     @base-border-color;

@overlay-background-color: @base-background-color;
@overlay-border-color:     @base-border-color;

@button-background-color:          lighten(@dark-tone, 10%);
@button-background-color-hover:    lighten(@dark-tone, 15%);
@button-background-color-selected: @accent;
@button-border-color:              @base-border-color;

@tab-bar-background-color:    @base-background-color;
@tab-bar-border-color:        @base-background-color;
@tab-background-color:        @base-background-color;
@tab-background-color-active: @base-background-color;
@tab-border-color:            @base-background-color;

@tree-view-background-color: @base-background-color;
@tree-view-border-color:     @tree-view-background-color;

@status-bar-background-color: darken(@base-background-color, 5%);

// ------------------------------------------------------------------------ site

@ui-site-color-1: hsl(208, 100%, 50%); // blue
@ui-site-color-2: hsl(160,  70%, 42%); // green
@ui-site-color-3: hsl(32,   60%, 50%); // orange
@ui-site-color-4: #D831B0;             // pink
@ui-site-color-5: #EBDD5B;             // yellow

// ----------------------------------------------------------------------- sizes

@disclosure-arrow-size:  12px;
@component-padding:      10px;
@component-icon-padding: 5px;
@component-icon-size:    16px;
@component-line-height:  25px;
@input-font-size:        14px;
@font-size:              12px;

// ------------------------------------------------------------------------ misc

@component-border-radius: 2px;
@font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
